html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 40px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fbe7ef;
}

.formContainer {
    width: 500px;
    max-width: 90%;
    text-align: center;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

    .formContainer p {
        margin-top: 20px;
    }

        .formContainer p a {
            text-decoration: none;
            color: #cf2f74;
        }

            .formContainer p a:hover {
                text-decoration: none;
                color: #cf2f74;
            }

.logoContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
    font-size: 36px;
    color: #283035;
    letter-spacing: 5px;
}

.logoContainer h1 {
    font-weight: 380;
    letter-spacing: 4px;
}

.formLogo {
    height: 48px;
}

.inputRow {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.formLbl {
    align-self: flex-start;
    font-size: 20px;
    color: #283035;
    margin-bottom: 10px;
}

.formTxt {
    font-size: 16px;
    padding: 10px;
    border: none;
    background-color: #f7f7f7;
    border-radius: 5px;
}
.rBList {
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-size: 20px;
}

    .rBList tbody {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

        .rBList tr {
            margin-right: 10%;
        }

            .rBList tr td {
                display: flex;
                gap: 8px;
            }

.formChk {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
}

.formErrorLbl {
    align-self: flex-start;
    font-size: 16px;
    color: #d00412;
}

.formButton {
    margin-top: 20px;
    width: 100%;
    background-color: #283035;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.formButton:hover {
    background-color: #cf2f74;
}