* {
    /* biar kalo di hp gk ad highlight pas pencet */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav {
    position: fixed;
    z-index: 3;
    padding: 0 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: none;
    box-shadow: none;
    transition: 0.4s;
    top: 0;
}

    nav a, .sidebar a {
        display: flex;
        flex-wrap: nowrap;
        color: #454a4e;
        text-decoration: none;
    }

    nav.solid {
        background-color: #fff;
        border-bottom: 1px solid #c0c4c6;
    }

        nav.solid::after {
            transition: 0.1s;
        }

    nav a:hover, .sidebar a:hover {
        text-decoration: none;
        color: #000000;
    }

nav p, .sidebar p {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    white-space: nowrap;
}

.left {
    display: flex;
    justify-content: center;
}

.logo {
    height: 40px;
}

.middle {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    padding: 0 20px;
    transition: 0.1s;
}

.nav-btn {
    padding: 0;
    border: none;
    background: none;
    padding: 0 20px;
    transition: 0.1s;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    color: #454a4e;
}

    .nav-btn:hover {
        cursor: pointer;
        text-decoration: none;
        color: #000000;
    }